# SQL Assignments - 15

### Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database : 
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS).
1) SQL : MySQL is a relational database that is based on tabular design whereas 
2) NoSQL : NoSQL is non-relational in nature with its document-based design.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

It defines the schema of a database and allows the user to create objects, create and drop tables, define indexes and grant access to users or computer programs called stored procedures. The data definition language includes the structure of tables and fields, the name of columns and attributes, table names, data types and their sizes and default values for tables and fields.

Create : This is used for creating a table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

Drop : This command used to deleted the table.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()x

sql = "DROP TABLE customers"

mycursor.execute(sql)

Alter: The ALTER statement changes the structure or schema of an already created database table by adding or removing one or more columns.
The ALTER statement can be used to change several other attributes of the tables such as the name of the table and name of the columns.
The ALTER also adds or removes one or more constraints and indexes as well.
A python program can execute an ALTER statement using the PyMySQL.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()x

    
alterStatement = "ALTER TABLE Student ADD courseid2 int(11);"

cursorObject.execute(alterStatement)

Truncate: This used to delete a table permanently from database

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

cursor.execute('TRUNCATE TABLE studend')
cursor.commit()

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML : DML (Data Manipulation Language) statements are the element in the SQL language that is used for data retrieval and manipulation.

INSERT : this statement is used to insert data into existing table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")
mycursor.execute(sql, val)

mydb.commit()

UPDATE: This statement is used to update the existing record in table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()
sql = "UPDATE customers SET address = 'Canyon 123' WHERE address = 'Valley 345'"

mycursor.execute(sql)

mydb.commit()

DELETE: This statement is used to delete records from existing table

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()
sql = "DELETE FROM customers WHERE address = 'Mountain 21'"

mycursor.execute(sql)

mydb.commit()

### Q4. What is DQL? Explain SELECT with an example.

DQL statements are used for performing queries on the data within schema objects. The purpose of DQL commands is to get the schema relation based on the query passed to it.

SELECT is the statment used to get data from table. this can also used as conditional statment to get data

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()
mycursor.execute("SELECT * FROM customers")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

### Q5. Explain Primary Key and Foreign Key.

Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence. 

Example: Refer the figure â€“ 
STUD_NO, as well as STUD_PHONE both, are candidate keys for relation STUDENT but STUD_NO can be chosen as the primary key (only one out of many candidate keys). 

Foreign Key: 
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table. 

Example: Refer the figure â€“ 
STUD_NO in STUDENT_COURSE is a foreign key to STUD_NO in STUDENT relation.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password",
  database="mydatabase"
)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")

cursor() : A cursor is an object which helps to execute the query

The execute () method helps us to execute the query and return records according to the query. The syntax of the execute () function is:


### Q7. Give the order of execution of SQL clauses in an SQL query.